$font-family: "Roboto", sans-serif;
$color-primary: #00ccf5;
$color-primary-light: #70e7ff;
$color-primary-dark: #0088a3;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #121212;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// translate

$transform-center: translate(-50%, -50%);
